snippet epc "export class ${name}"
	export class ${0} {
		${1}
	}

snippet epi "export interface ${name}"
	export interface ${0} {

	}

snippet epf "export function ${name}"
	export function ${0}() {

	}

snippet epc "export const ${name}"
	export const ${0} {

	}
