Plug 'tpope/vim-surround'
Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'
Plug 'vim-scripts/argtextobj.vim'
Plug 'chrisbra/matchit'
Plug 'tommcdo/vim-exchange'
Plug 'vim-scripts/ReplaceWithRegister'
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'kana/vim-textobj-entire'
Plug 'terryma/vim-multiple-cursors'

let g:multi_cursor_use_default_mapping=1

" Default mapping
let g:multi_cursor_skip_key            = '<A-x>'
let g:multi_cursor_quit_key            = '<Esc>'

let mapleader=" "
set scrolloff=5
set incsearch
set relativenumber
set tabstop=4
set belloff=all
set visualbell
set noerrorbells
set showmode
set idearefactormode=keep
set number
set which-key
set timeoutlen=50000

"-------- Handler -----------------------"
sethandler <C-r> v:ide i:vim
sethandler <C-j> n-v:vim i:ide

"----------------Mapping-----------------"
map H b
map L e
map J 3j
map K 3k
map <leader>da d2f"
map <c-l> <c-w>l
map <c-h> <c-w>h
map <c-j> <c-w>j
map <c-k> <c-w>k

imap <c-g> <Action>(EditorCompleteStatement)

map <leader>pp "0gr
xmap <leader>pp "0p
    
vmap <leader>ya "ay
vmap <leader>ys "sy
vmap <leader>yd "dy

map <leader>pa "ap
map <leader>ps "sp
map <leader>pd "dp

"------------- EasyMotion Map ------------------"
map <leader>j <Plug>(easymotion-s)

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action

map <BS> <Action>(EditorBackSpace)

"" -- Map Bookmark
map <leader>b0 <Action>(ToggleBookmark0)
map <leader>b1 <Action>(ToggleBookmark1)
map <leader>b2 <Action>(ToggleBookmark2)
map <leader>b3 <Action>(ToggleBookmark3)
map <leader>b4 <Action>(ToggleBookmark4)
map <leader>b5 <Action>(ToggleBookmark5)
map <leader>b6 <Action>(ToggleBookmark6)
map <leader>b7 <Action>(ToggleBookmark7)
map <leader>b8 <Action>(ToggleBookmark8)
map <leader>b9 <Action>(ToggleBookmark9)
map <leader>bb <Action>(ToggleBookmark)
map <leader>bB <Action>(ToggleBookmarkWithMnemonic)
map <leader>bs <Action>(ShowBookmarks)

map ]b <Action>(GotoNextBookmark)
map [b <Action>(GotoPreviousBookmark)

map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)

map [m <Action>(MethodDown)
map ]m <Action>(MethodUp)

map ]t <Action>(NextTab)
map [t <Action>(PreviousTab)

map ]w <Action>(EditorSelectWord)
map [w <Action>(EditorUnSelectWord)

noremap ]f [w
noremap [f [b

map ]<tab> <Action>(NextProjectWindow)
map [<tab> <Action>(PreviousProjectWindow)

map ]x <Action>(StringManipulation.CreateSequenceAction)

"" Editor Tab
map <leader><tab> <Action>(Switcher)

map <leader>1 <Action>(GoToTab1)
map <leader>2 <Action>(GoToTab2)
map <leader>3 <Action>(GoToTab3)
map <leader>4 <Action>(GoToTab4)
map <leader>5 <Action>(GoToTab5)
map <leader>6 <Action>(GoToTab6)
map <leader>7 <Action>(GoToTab7)
map <leader>8 <Action>(GoToTab8)
map <leader>9 <Action>(GoToTab9)

map <leader>mth <Action>(com.mikejhill.intellij.movetab.actions.MoveTabLeft)
map <leader>mtl <Action>(com.mikejhill.intellij.movetab.actions.MoveTabRight)

map <leader>co <Action>(CloseAllEditorsButActive)
map <leader>cl <Action>(CloseAllToTheLeft)
map <leader>cr <Action>(CloseAllToTheRight)
map <leader>q <Action>(CloseAllEditors)

map <C-n> <Action>(EditorCloneCaretBelow)
map <C-p> <Action>(EditorCloneCaretAbove)

map <leader>dt <Action>(Unwrap)
map <leader>st <Action>(SurroundWith)

map <leader>vsp <Action>(SplitVertically)
map <leader>sp <Action>(SplitHorizontally)
map <leader>ms <Action>(MaximizeEditorInSplit)

map <leader>f <Action>(Find)
noremap <leader>gf <Action>(GotoFile)
noremap <leader>go <Action>(GotoClass)

"" Run
map <leader>rr <Action>(RunMenu)
map <leader>rt <Action>(RunClass)
map <leader>re <Action>(Rerun)

"" Git
map <leader>hr <Action>(Vcs.RollbackChangedLines)
map <leader>hp <Action>(VcsShowCurrentChangeMarker)

"" Navigation
map gi <Action>(GotoImplementation)

"" Code 
map <leader>el1 <Action>(ExpandToLevel1)
map <leader>el2 <Action>(ExpandToLevel2)
map <leader>el3 <Action>(ExpandToLevel3)
map <leader>el4 <Action>(ExpandToLevel4)
map <leader>op <Action>(OptimizeImports)

map <leader>E <Action>(ShowErrorDescription)
map <leader>O <Action>(OverrideMethods)
map <leader>oc <Action>(SilentCodeCleanup)
map <leader>l <Action>(Tool_Command Tools_Pint)

"" Refactorings
map <leader>t <Action>(Refactorings.QuickListPopupAction)
map <leader>i <Action>(ShowIntentionActions)

" Find more examples here: https://jb.gg/share-ideavimrc
