Plug 'tpope/vim-surround'
Plug 'preservim/nerdtree'
Plug 'chrisbra/matchit'
Plug 'tommcdo/vim-exchange'
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'terryma/vim-multiple-cursors'
Plug 'vim-scripts/argtextobj.vim'

let mapleader=" " 

set scrolloff=5
set incsearch
set relativenumber
set tabstop=4
set belloff=all
set visualbell
set noerrorbells
set showmode
set idearefactormode=keep
set number
set which-key
set timeoutlen=50000
set ideavimsupport=dialog
set multicursor
set anyobject
let g:anyobject_excluded = "anyArgument"

"----------------Mapping-----------------"
map H b
map L e
map J 3jzz
map K 3kzz

map <c-l> <c-w>l
map <c-h> <c-w>h

map <C-d> <C-d>zz
map <C-u> <C-u>zz

nmap n nzzzv
nmap N Nzzzv

map <BS> <Action>(EditorBackSpace)

"-- delete attr html from start at att
map <leader>da' d2f"

map <leader>dw daW
map <leader>de diW

" Yank key for common template need in code
vmap <leader>ya "ay
vmap <leader>ys "sy
vmap <leader>yd "dy
vmap <leader>yq "qy
vmap <leader>yw "wy
vmap <leader>ye "ey
vmap <leader>yz "zy
vmap <leader>yx "xy
vmap <leader>yc "cy

map <leader>pa "ap
map <leader>ps "sp
map <leader>pd "dp
map <leader>pq "qp
map <leader>pw "wp
map <leader>pe "ep
map <leader>pz "zp
map <leader>px "xp
map <leader>pc "cp

" paste yank and set current paste back to p
xmap <leader>pp "0pdiwP

map <leader>/ :nohlsearch<CR>


" Selection
xmap <A-x> <Plug>SkipOccurrence

nmap <leader><C-n> <Plug>AllWholeOccurrences
xmap <leader><C-n> <Plug>AllWholeOccurrences

nmap <leader>g<C-n> <Plug>AllOccurrences
xmap <leader>g<C-n> <Plug>AllOccurrences

map ]w <Action>(EditorSelectWord)
map [w <Action>(EditorUnSelectWord)

" Open project menu
map <leader>ml <Action>(ManageRecentProjects)
map ]<tab> <Action>(NextProjectWindow)
map [<tab> <Action>(PreviousProjectWindow)

" -- Map Bookmark
map <leader>b0 <Action>(ToggleBookmark0)
map <leader>b1 <Action>(ToggleBookmark1)
map <leader>b2 <Action>(ToggleBookmark2)
map <leader>b3 <Action>(ToggleBookmark3)
map <leader>b4 <Action>(ToggleBookmark4)
map <leader>b5 <Action>(ToggleBookmark5)
map <leader>b6 <Action>(ToggleBookmark6)
map <leader>b7 <Action>(ToggleBookmark7)
map <leader>b8 <Action>(ToggleBookmark8)
map <leader>b9 <Action>(ToggleBookmark9)
map <leader>bb <Action>(ToggleBookmark)
map <leader>bB <Action>(ToggleBookmarkWithMnemonic)
map <leader>bs <Action>(ShowBookmarks)

map ]b <Action>(GotoNextBookmark)
map [b <Action>(GotoPreviousBookmark)

" diagnostics
map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)

map <leader>E <Action>(ShowErrorDescription)

" Plugin Move tab
map [t <Action>(com.mikejhill.intellij.movetab.actions.MoveTabLeft)
map ]t <Action>(com.mikejhill.intellij.movetab.actions.MoveTabRight)

" Next camelCase or snakeCase
noremap ]f [w
noremap [f [b

" switch menu
map <leader><tab> <Action>(Switcher)

" Navigate Tab
map <Tab> <Action>(NextTab)
map <S-Tab> <Action>(PreviousTab)

map <leader>1 <Action>(GoToTab1)
map <leader>2 <Action>(GoToTab2)
map <leader>3 <Action>(GoToTab3)
map <leader>4 <Action>(GoToTab4)
map <leader>5 <Action>(GoToTab5)
map <leader>6 <Action>(GoToTab6)
map <leader>7 <Action>(GoToTab7)
map <leader>8 <Action>(GoToTab8)
map <leader>9 <Action>(GoToTab9)

" Close tab
map <leader>co <Action>(CloseAllEditorsButActive)
map <leader>cl <Action>(CloseAllToTheLeft)
map <leader>cr <Action>(CloseAllToTheRight)
map <leader>q <Action>(CloseAllEditors)

" multiple screen split
map <leader>ms <Action>(MaximizeEditorInSplit)
map <leader>vsp <Action>(SplitVertically)
map <leader>sp <Action>(SplitHorizontally)
map <C-w>W <Action>(MoveEditorToOppositeTabGroup);

map <Left> <Action>(StretchSplitToLeft)
map <Right> <Action>(StretchSplitToRight)
map <Up> <Action>(StretchSplitToUp)
map <Down> <Action>(StretchSplitToBottom)

" Local Search or Replace
map <A-f> <Action>(Find)
map <A-r> <Action>(Replace)

" Run
map <leader>rr <Action>(RunMenu)
map <leader>rc <Action>(RunClass)
map <leader>rt <Action>(Run)
map <leader>re <Action>(Rerun)
map <leader>rd <Action>(Debug)

" Git
map <leader>hr <Action>(Vcs.RollbackChangedLines)
map <leader>hp <Action>(VcsShowCurrentChangeMarker)

map ]g <Action>(VcsShowNextChangeMarker)
map [g <Action>(VcsShowPrevChangeMarker)

" LSP Navigation
map gi <Action>(GotoImplementation)

" Code Expand
map <leader>el1 <Action>(ExpandToLevel1)
map <leader>el2 <Action>(ExpandToLevel2)
map <leader>el3 <Action>(ExpandToLevel3)
map <leader>el4 <Action>(ExpandToLevel4)

" Code optimize
map <leader>oc <Action>(SilentCodeCleanup)
map <leader>op <Action>(OptimizeImports)

" Move block code or line
map <leader>k <Action>(MoveLineUp)
map <leader>j <Action>(MoveLineDown)
map <leader>K <Action>(MoveStatementUp)
map <leader>J <Action>(MoveStatementDown)

" Navigate to next word have the same word under cursor
map <A-n> <Action>(GotoNextElementUnderCaretUsage)
map <A-p> <Action>(GotoPrevElementUnderCaretUsage)

" Multiple cursor
map <C-n> <Action>(EditorCloneCaretBelow)
map <C-p> <Action>(EditorCloneCaretAbove)

" Snippet
imap <C-k> <Action>(ExpandLiveTemplateByTab)
imap <C-l> <Action>(NextTemplateVariable)
imap <C-h> <Action>(PreviousTemplateVariable)

" Accept from neovim blink style
imap <C-y> <Action>(EditorChooseLookupItem)

" Wrapper or remove wrapper
map <leader>dt <Action>(Unwrap)
map <leader>st <Action>(SurroundWith)

" Plugin StringManipulation
map ]i <Action>(StringManipulation.CreateSequenceAction)

" Refactorings
map <leader>t <Action>(Refactorings.QuickListPopupAction)
map <leader>i <Action>(ShowIntentionActions)
map <leader>rn <Action>(RenameElement)

" Find more examples here: https://jb.gg/share-ideavimrc
